@font-face {
    font-family: kind-daily;
    src: url('assets/fonts/Kind\ Daily.ttf');
}

@font-face {
    font-family: bright-aura;
    src: url('assets/fonts/Bright\ Aura.ttf');
}

:root {
    --nav-height: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kind-daily';
    color: #eee;
}

body {
    /* background-image: url('assets/background.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.card,
#home img,
#services,
#scammers {
    animation-play-state: paused;
}

#container {
    max-height: 100vh;
}

.card {
    background-color: #5c6faf99;
    backdrop-filter: blur(1px);
    border-radius: 1rem;
    padding: 1rem;
    scale: 0;
    animation-name: appear;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-bottom: 1rem;
}

#home {
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
}

#home img {
    width: 40%;
    max-width: 300px;
    display: block;
    margin: 1rem auto;
    animation: appear ease-in-out 0.75s;
}

#home .card {
    text-align: center;
    animation-delay: 0.5s;
}

#services {
    animation-name: appear;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    letter-spacing: 0.05rem;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
}

    #services h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

#scammers {
    text-align: center;
    animation: appear 0.5s ease-in-out;
}

    #scammers h2 {
        text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
    }

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--nav-height);
    background-image: linear-gradient(blue, darkslateblue);
}

section {
    padding: 1rem;
    min-height: calc(100vh - var(--nav-height));
    flex-direction: column;
    padding-bottom: calc(1rem + var(--nav-height));
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

    .tab {
        padding: 0.5rem;
        width: 100%;
        text-align: center;
    }

    .tab:hover{
        cursor: pointer;
        opacity: 0.9;
        background-color: #5c6faf99;
    }

    .tab.active{
        color: yellowgreen;
    }

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: flex;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table * {
    color: white;
    background-color: #5c6faf99;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: black;
}